<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8"/>
	<title>Elo Jr | Cadastro</title>
</head>

<body>
   <header>
	   <div class="wrapper">
		   <div class="logo">
			   <img src="elo.png" alt="">
		   </div>
		   <ul class ="nav-area">
			   <li><a href="/"> Home</a></li>
			   <li><a href="/pesquisar"> Consultar usuario</a></li>
		   </ul>
	   </div>

	   <div class="welcome-text">
		   <h2> Formulário</h2>
	   </div>

	   <div class="preencher">
		   <form action= "/cadastrar/salvar" method="post">
			   <div class="field">
				   <label for="nome">Nome:</label>
				   <input id="nome" type="text" name="nome" placeholder="Nome" required>
			   </div>

			   <div class="field">
				   <label for="dataDeNascimento">Data de nascimento:</label>
				   <input  id="dataDeNascimento" type="date" name="dataDeNascimento" min="1950-01-01" max="2002-01-01" required>
			   </div>

			   <div class="field">
				   <label for="cargo">Cargo:</label>
				   <input id="cargo" type="text" name="cargo" placeholder="Cargo" required>
			   </div>

			   <div class="field">
				   <label for="matriculaUfg">Matricula:</label>
				   <input id="matriculaUfg" type="text"  name="matriculaUfg" pattern="\d*" minlength="9" maxlength="9" placeholder="Matricula" required>
			   </div>

			   <div class="field">
			   <select name="curso" required>
				   <option value="" disabled selected>Curso</option>
				   <option value="arquitetura e urbanismo">Arquitetura e Urbanismo</option>
				   <option value="engenharia civil">Engenharia Civil</option>
				   <option value="engenharia de computacao">Engenharia de Computação</option>
				   <option value="engenharia eletrica">Engenharia Elétrica</option>
				   <option value="engenharia mecanica">Engenharia Mecânica</option>
				   <option value="engenharia quimica">Engenharia Química</option>
				</select>
			   </div>

				<div class="field">
				<select name="nucleo" required>
					<option value="" disabled selected>Núcleo</option>
				   <option value="NCA">NCA</option>
				   <option value="NATI">NATI</option>
				   <option value="NCC">NCC</option>
				   <option value="NMA">NMA</option>
				   <option value="NSE">NSE</option>
				   <option value="NIP">NIP</option>
				</select>
			   </div>

			   <div class="field">
				   <label for="cpf">CPF:</label>
				   <input id="cpf" type="text" name="cpf" pattern="\d*" minlength="11" maxlength="11" placeholder="CPF" required>
			   </div>

			   <div class="field">
				   <label for="rg">RG:</label>
				   <input id="rg" type="text" name="rg" pattern="\d*" minlength="7" maxlength="7" placeholder="RG" required>
			   </div>

			   <div class="field">
				   <label for="telefone">Telefone:</label>
				   <input id="telefone" type="text" name="telefone" pattern="\d*" minlength="11" maxlength="11" placeholder="telefone" required>
			   </div>

			   <div class="field">
				   <label for="dataEntrada">Inicio na ELO:</label>
				   <input id="dataEntrada" name="dataEntrada" type="date" min="2010-01-01" max="2019-12-30" required>
			   </div>

			   <div class="field">
				   <label for="emailElo">Email ELO:</label>
				   <input id="emailElo" type="email" name="emailElo" placeholder="e-mail ELO" pattern =".{1,}@elojr.com.br" required>
			   </div>

			   <div class="field">
				   <label for="emailPessoal">E-mail pessoal:</label>
				   <input id="emailPessoal" name="emailPessoal" type="email" placeholder="e-mail pessoal" required>
			   </div>

			   <div class="field">
				   <label for="endereco">Endereço:</label>
				   <input id="endereco" type="text" name="endereco" placeholder="Endereço" required>
			   </div>

			   <button id="button" type="submit">Cadastrar</button>
		   </form>
	   </div>
   </header>	     
</body>
</html>

<style type="text/css">
	*{
		margin:0;
		padding:0;
	}

	.wrapper{
		width: 1170px;
		margin:auto;
	}

	header{
		background: #314C75;
		height: 100vh;
		-webkit-background-size:cover;
		background-size: cover;
		background-position: center center;
		position: relative;

	}
	.nav-area{
		float: right;
		list-style: none;
		margin-top: 50px;
	}
	.nav-area li{
		margin-top: 25px;
		display: inline-block;
	}
	.nav-area li a{
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		padding: 5px 20px;
		font-family: poppings;
		font-size: 16px;
	}
	.nav-area li a:hover{
		background: #fff;
		color: #333;
	}
	.logo img{
		width: 250px;
		float: left;
		margin-left: -20px;
		margin-top : -60px;
	}
    .welcome-text{
        position: absolute;
        width: 600px;
        margin: 13% 30%;
        text-align: center;
    }
    .welcome-text h2{
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 40px;
    }
    .preencher{
	width: 600px;
	position: absolute;
	margin: 19% 18%;
	text-align: right;
	color:#fff;
	font-weight: 2px;
    }
    
    .field{
    	margin: 4px;
    }
    
    #button{
    	position: absolute;
    	margin: 10px -20%;
    	text-align: center;
    	height: 30px;
    	width: 70px;
    }

</style>
