<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <title>Elo Jr | Deletado</title>
</head>

<body>
   <header>
       <div class="wrapper">
           <div class="logo">
               <img src="/elo.png" alt="">
           </div>
       </div>

      <div class="welcome-text">
           <h2>Lobo exilado com sucesso!<h2>
      
            <div class="botoes">
                <a href="/"> VOLTAR PARA PÁGINA INICIAL</a>
                <a href="/pesquisar">PESQUISAR OUTRO LOBO</a>
            </div>
      </div>

   </header>	     
</body>
</html>

<style type="text/css">
    *{
        margin:0;
        padding:0;
    }

    .logo img{
        width: 250px;
        float: left;
        margin-left: -20px;
        margin-top : -60px;
    }
    .wrapper{
        width: 1170px;
        margin:auto;
    }

    header{
        background: #314C75;
        height: 100vh;
        -webkit-background-size:cover;
        background-size: cover;
        background-position: center center;
        position: relative;
    }

  .welcome-text{
     position: absolute;
     width: 600px;
     margin: 15% 30%;
     text-align: center;
  }

  .welcome-text h2{
     text-align: center;
     color: #fff;
     text-transform: uppercase;
     font-size: 40px;
  }

  .botoes{
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
     padding: 5px 20px;
     font-family: poppings;
     font-size: 16px;
  }

  .botoes a{
     border: 1px solid #fff;
     padding: 10px 25px;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 20px;
     margin-top: 20px;
     display: inline-block;
     color: #fff;

  }


  .botoes a:hover{
     background: #fff;
     color: #314C75;
  }
</style>
